@model IEnumerable<KcCauldronCapo.Controllers.TopVote>

@{
    int counter = 1;
}

<div class="container-fluid">
    @foreach (var topVote in Model.OrderByDescending(tv => tv.Count))
    {
        @:<span class="badge">
        @topVote.Count
        @:</span>
        @:
        @topVote.Chant<br/>
    }
</div>

<br/>
<button class="btn btn-info" onclick="ClearVotes(); return false;">Clear Votes</button>
