@model IEnumerable<KcCauldronCapo.Controllers.TopVote>

@{
    int counter = 1;
}

<div class="container-fluid">
    @foreach (var topVote in Model.OrderByDescending(tv => tv.Count))
    {
        @:<span style="background-color: #EEEEEE;">
        @topVote.Count
        @:</span>
        @:
        @topVote.Chant<br/>
    }
</div>
