<form action="/user/addUser" method="POST">
    Phone: <input type="text" name="humber"/><br/>
    Section: <select name="section">
                 <option value="M1">M1</option>
                 <option value="M2">M2</option>
                 <option value="M3">M3</option>
                 <option value="M4">M4</option>
                 <option value="M5">M5</option>
                 <option value="M6">M6</option>
                 <option value="M7">M7</option>
                 <option value="M8">M8</option>
                 <option value="M9">M9</option>
                 <option value="101">101</option> 
                 <option value="102">102</option> 
                 <option value="103">103</option> 
                 <option value="104">104</option> 
                 <option value="105">105</option> 
                 <option value="106">106</option> 
                 <option value="107">107</option> 
                 <option value="108">108</option> 
                 <option value="109">109</option> 
                 <option value="110">110</option> 
                 <option value="111">111</option> 
                 <option value="112">112</option> 
                 <option value="113">113</option> 
                 <option value="115">115</option>
                 <option value="116">116</option> 
                 <option value="117">117</option> 
                 <option value="128">118</option> 
                 <option value="129">119</option> 
                 <option value="120">120</option> 
                 <option value="121">121</option> 
                 <option value="122">122</option>
                 <option value="123">123</option>
                 <option value="124">124</option>
                 <option value="125">125</option>
                 <option value="126">126</option>
                 <option value="127">127</option>
                 <option value="128">128</option>
                 <option value="129">129</option>
                 <option value="130">130</option>
                 <option value="131">131</option>
                 <option value="132">132</option>
             </select>
    <br/>
    <button class="btn" onclick="AddUser(); return false;">Sign Up!</button>
</form>