@model IEnumerable<KcCauldronCapo.Model.Chant>

@foreach (var chant in Model)
{
    <button class="btn btn-large" onclick="SetCurrentChant(@chant.CHANT_ID); return false;">@chant.CHANT_NAME</button><br/>
}
