<div class="btn-group">
    <button class="btn btn-info" id="btn-lyrics">Lyrics</button>

    <button class="btn btn-info" id="btn-errata">Errata</button>
</div>

<div class="chant-detail" style="padding-top: 15px;"></div>
