<form action="/alert/SendMessage" method="POST">
    Message: <textarea name="message"
        rows="4"
        cols="20"
        maxlength="100"
        ></textarea>
    <br />
    <button class="btn btn-primary">Send It!</button>
</form>
